<h1 id="tableLabel">Students</h1>
<br>
<br />
<button mat-raised-button color="accent" [routerLink]="['/studentAdd']">Add student</button>
<br>
<br />
<p *ngIf="!students"><em>Loading...</em></p>

<table mat-table [dataSource]="students" class="mat-elevation-z8">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef style="width:35%"><strong>Name</strong></th>
    <td mat-cell *matCellDef="let student"> {{student.name}} </td>
  </ng-container>

  <ng-container matColumnDef="age">
    <th mat-header-cell *matHeaderCellDef style="width:35%"><strong>Age</strong></th>
    <td mat-cell *matCellDef="let student"> {{student.age}} </td>
  </ng-container>

  <ng-container matColumnDef="phone">
    <th mat-header-cell *matHeaderCellDef style="width:35%"><strong>Phone</strong></th>
    <td mat-cell *matCellDef="let student"> {{student.phone}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef style="width:25%"></th>
    <td mat-cell *matCellDef="let student">
      <section>
        <div>
          <button mat-icon-button color="primary" matTooltip="Edit">
            <mat-icon aria-hidden="false" aria-label="Example home icon" [routerLink]="['/studentEdit', student.id]" style="cursor:pointer">edit</mat-icon>
          </button>
          <button mat-icon-button color="primary" matTooltip="Info">
            <mat-icon aria-hidden="false" aria-label="Example home icon" [routerLink]="['/studentDetails', student.id]" style="cursor:pointer">info</mat-icon>
          </button>
          <button mat-icon-button color="primary" matTooltip="Delete">
            <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="deleteStudent(student)" style="cursor:pointer">delete</mat-icon>
          </button>
        </div>
      </section>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay "></tr>
  <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay ;"></tr>
</table>
