<div *ngIf="teacher">
  <mat-card>
    <mat-card-content>
      <h2 class="example-h2">Update teacher</h2>

      <mat-form-field>
        <input matInput type="text" placeholder="Name" [(ngModel)]="teacher.name">
      </mat-form-field>
      <br />
      <mat-form-field>
        <input matInput type="text" placeholder="Phone" [(ngModel)]="teacher.phone">
      </mat-form-field>
      <br />
      <mat-form-field>
        <input matInput type="text" placeholder="Class" [(ngModel)]="teacher.class">
      </mat-form-field>
      <br />
      <button mat-raised-button color="accent" (click)="saveTeacher()">Save updates</button> <br />
    </mat-card-content>
  </mat-card>
</div>
