<div *ngIf="lesson">
  <mat-card>
    <mat-card-content>
      <h2 class="example-h2">Update lesson</h2>

      <mat-form-field>
        <input matInput type="text" placeholder="Name" [(ngModel)]="lesson.name">
      </mat-form-field>
      <br />
      <mat-form-field>
        <input matInput type="text" placeholder="Time" [(ngModel)]="lesson.time">
      </mat-form-field>
      <br />
      <mat-form-field>
        <input matInput type="text" placeholder="Price(€)" [(ngModel)]="lesson.price">
      </mat-form-field>
      <br />
      <button mat-raised-button color="accent" (click)="saveLesson()">Save updates</button> <br />
    </mat-card-content>
  </mat-card>
</div>
